/* All Page Styles*/


#svgwrapper {
  display:inline-block;
  width:400px;
  height:200px;
  stroke: rgb(24, 24, 24);
  fill: none;
  position: relative;
}

.logo-path {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: calc(20% + 20px);
    stroke-dasharray: 1943;
    stroke-dashoffset: 1943;
}

.text { 
    
    stroke-width: 10;
    animation: letter-animation 4s linear forwards;
}

@keyframes letter-animation {
    0% {
        stroke-dashoffset: 1943;
    }
    100% {
        stroke-dashoffset: 0;
    }
}




.animate {
 stroke-dasharray: 300;
 stroke-dashoffset: 300;
 animation: dash 5s linear forwards;
}
@keyframes dash {
to {
 stroke-dashoffset: 0;
 }
}






*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:cursive;
    background-color: #ffffff;
}

body {
    height: 712px;
    width: 1440px;
}

section {
    height: 712px;
    width: 1440px;
    padding-top: 20%;
}

.padLeft {
    height: 712px;
    width: 1440px;
    padding-top: 22%;
    padding-left: 25%;
}

h3 {
    color: #776565;
    font-size: 48px;
    font-weight: 100;
    line-height: 57px;
    font-family: "Lucida Handwriting", "Segoe Script", cursive;
}

h1 {
  font-family: "Lucida Handwriting", "Segoe Script", cursive;
}

a {
    text-decoration: none;
    color: rgb(92, 134, 138);
}

h5 {
    font-size: 20px;
    text-align: center;
}

p {
    font-size: 30px;
}

#fadeIn {
    animation-name: fadeIn;
    animation-delay: 0s;
    animation-direction: forwards;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#letterOne {
    animation-name: waveMotion;
    animation-delay: 0s;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#letterTwo {
    animation-name: waveMotion;
    animation-delay: 200ms;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#letterThree {
    animation-name: waveMotion;
    animation-delay: 400ms;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#letterFour {
    animation-name: waveMotion;
    animation-delay: 600ms;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#letterFive {
    animation-name: waveMotion;
    animation-delay: 800ms;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#letterSix {
    animation-name: waveMotion;
    animation-delay: 1000ms;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#letterSeven {
    animation-name: waveMotion;
    animation-delay: 1200ms;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#letterEight {
    animation-name: waveMotion;
    animation-delay: 1400ms;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes waveMotion {
    0% {
        top: 320px;
    }
    50% {
        top: 310px;
    }
    100% {
        top: 320px;
    }
}



/* Page 6 Animations */

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: cursive;
}

.wrapper {
 display: flex;
 flex-direction: column;
 width: 100vw;
 min-height:100vh;
 justify-content: center;
 align-items: center;
 background-color: #ffffff;
 
 .swipe {
  position: relative;
  width: fit-content;
    &::after {
     display: block;
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     right: 100%;
     width: 0%;
     height: 100%;
     background-color: #868686;
     animation: swipe 1.3s ease-out 0.95s forwards;
    }
    &--delay {
     &::after {
      background-color: #FFF;
      animation-delay: 1.5s;
     }
    }
 }
 
 h1 {
  display: block;
  color: #000000;
  font-size: 72px;
  line-height: 1;
  font-weight: 900;
  text-transform: lowercase;
  padding: 15px 25px;
  opacity: 0;
  animation: fade 1.01s ease-out 1.75s forwards;
 }
 
 h3 {
  display: block;
  color: #FFF;
  font-size: 32px;
    line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  padding: 10px 15px;
  opacity: 0;
  animation: fade 0.01s ease-out 2.25s forwards;
 }
}

@keyframes fade {
 from { opacity: 0; }
 to { opacity: 1; }
}

@keyframes swipe {
 0% {
  right: 100%;
  left: 0;
  width: 0%;
 }
 50% {
  right: 0;
  left: 0;
  width: 100%;
 }
 100% {
  right: 0;
  left: 100%;
  width: 0%;
 }
}

